#logo {
    size: 40px;
    background-color: rgb(131, 0, 26);
    text-align: left;
    padding: 20px;
    color: #ffffff;
}

.box {
    height: 250px;
    width: 250px;
    background-color: black;
    margin: 20px;
    float: left;
    text-align: center;
    color: black;
    background-color: white;
    position: relative;
    bottom: 5px;
}

.img {
    height: 250px;
    width: 250px;
}

.form {
    width: 275px;
}

.form2 {
    width: 275px;
    height: 125px;
    text-align: top;
}

#headshot {
    float: left;
    margin: 15px;
    overflow: auto;
    border: 5px solid rgb(131, 0, 26);
}