body {
    align-self: flex-end;
    width: "70%";
    font-family: "Times New Roman";
    color: darkblue;
    border-color: #dddddd;
    background-color: lightgray;
}

.logo {
    size: 40px;
}

header {
    float: right;
    background-color: #4aaaa5;
    color: #777777;
    border-color: #cccccc;
    width: "50%";
    position: sticky;
    padding: 20 px;
}