h1 {
    color: #ffffff;
    font-size: 36px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h2 {
    color: rgb(131, 0, 26);
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
    margin: 15 px;
}

header {
    margin: 0;
    color: #FFFFFF;
    width: "100%";
    position: fixed;
    right: 0;
    top: 0;
    padding: 20 px;
    text-align: right;
    background-color: whitesmoke; 
    float: left;
}

body {
    float: left;
    width: "70%";
    font-family: "Times New Roman";
    color: black;
    font-size: 14px;
    border-color: #dddddd;
    background-color: rgb(175, 174, 174);
}

footer {
    color: white;
    padding: 20px 0px 0px 0px;
    margin: 0px;
    background-color: rgb(53, 53, 53);
    text-align: center;
    border: 10px solid rgb(131, 0, 26);
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    width: 100%;
}